body {
  font-family: 'Noto Sans', sans-serif;
}

.section, .section { 
  margin: 0; 
  padding: 0; 
} 

.header {
  background-color: #56309f;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

.header h1 {
  margin: 0;
  font-size: 48px;
  line-height: 1.5;
  font-variant: small-caps;
  font-weight: bold;
}
.header h2 {
  margin: 0;
  font-size: 24px;
  line-height: 2.0;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mathvista {
  font-variant: small-caps;
  font-weight: bold;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(180, 20%, 99%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
    color: hsl(204, 86%, 53%) !important;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

/* .results-carousel .item {
  margin: 20px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 5px;
  font-size: 0;
} */

.stats-image {
  max-height: 250px;
}

#org-banners {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.org-banner {
  /* margin: 5px; */
  max-width: 100%;
  height: 6em;
  margin: 10px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  #org-banners {
    flex-direction: column;
    justify-content: space-around;
  }
}